<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
  <div class="main p-10 w-full min-h-screen text-white bg-zinc-900">
        <a class="text-blue-500 inline-block mb-10" href="/">Go Back to Home</a>
        <form action="/edit" method="post" >
            <input type="text"  class=" block outline-none rounded-md w-full px-5 py-2 bg-zinc-800 text-zinc-500 mb-4" placeholder="Previous file name ...." name="previous" value="<%= filename %>" readonly>
            <input type="text"  class=" block outline-none rounded-md w-full px-5 py-2 bg-zinc-800" placeholder="New file name ...." name="new">
            <input class="mt-2 bg-yellow-600 px-5 py-2 rounded-md" type="submit" value="Update Name">
        </form>
  </div>
</body>
</html>